@font-face {
  font-family: "Gobold_Regular";
  src: local("Gobold_Regular"),
   url("./assets/fonts/Gobold_Regular.otf") format("truetype");
  font-weight: bold;
  }
  
body {

  margin: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
